/*site colors*/
$charcoal: #36384c;
$fresh: #849974;
$burgundy: #613a43;
$petal: #e3bab3;
$cream: #e9dccd;

/*site font*/
* {
  font-family: 'Goudy Bookletter 1911', cursive;
  margin: 0px;
  padding: 0px;
  }

body {
  color: $charcoal; }

.social-icon:hover {
  background-color: $fresh;
  border-radius: 25px; }

.skills {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: -65px;
}

#skills {
  background-color: $petal;
}

#skills h1 {
  text-align: center;
  font-size: 3.5em;
  color: #charcoal;
}

#skills h1:first-of-type {
  margin-top: 33%;
}

#skills p {
  text-align: center;
  font-size: 20px;
}

.frameworks {
  background-color: $petal;
  padding-right: 0px;
}

.header {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 1.25em; }

.background-image {
  text-align: center;
  margin: auto;
  background-image: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  position: relative;
  padding-top: 10%;
  padding-bottom: 50%; }
  .background-image h1 {
    font-size: 55px;
    text-shadow: 4px 4px 4px #aaa; }
  .background-image h2 {
    margin-top: 10px;
    font-style: italic; }

#about {
  height: 57em;
  background-color: $cream;
  }

.about {
  width: 80%;
  margin-top: 5%;
  h1 {
    font-size: 3em;
  }
}

.about p {
  padding: .625em;
}

#scroll {
  display: inline;
  text-align: center;
  color: $charcoal;
  font-size: 6.250em;
}

.left-col {
  background-image: url("../img/background_climb_green.png");
  background-repeat: no-repeat;
  height: 100%;
  text-align: right;
  color: $petal; }

.left-col h1 {
  font-size: 5em;
}

.right-col {
  font-size: 1.250em;
  }

/*Project Descriptions */

p.text-content {
  background: rgba(132, 153, 116, 0.9);
  color: $cream;
  cursor: pointer;
  height: 101%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  display: block;
  text-align: center;
  font-size: 1.25em;
  padding: 22% 3% 0% 3%;
  margin-top: -21%;
}
  span {
    color: $charcoal;
    font-weight: bold;
    display: block;
  }


.portfolio_img a {
  text-decoration: none;
  display: inline;
  color: $cream;
}

#portfolio {
  background-color: $petal;
  padding-top: 5%;
  padding-bottom: 5%;
   }

.portfolio_img h1:hover + p.text-content {
  opacity: 1;
}
 
 /*project images, as div backgrounds*/

.img_one {
  background-image: url("../img/placeholder_portfolio.png");
  background-size: cover;
  height: 25%;
  width: 25%;
}

.img_two {
  background-image: url("../img/dojosecrets.png");
  background-size: cover;
}

.img_three {
  background-image: url("../img/pingportal.png");
  background-size: cover;
}

.img_four {
  background-image: url("../img/shieldbanking.png");
  background-size: cover;
}


.portfolio_img {
  height: 350px;
  border-radius: 50%;
  border: solid 5px $burgundy;
  padding-right: 0px;
  padding-left: 0px;
} 

/*to make circles keep aspect*/



#contact {
  background-color: $cream;
  padding-top: 5%;
}

/*navbar*/
#sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 0px;
  height: 100%;
  padding-top: 10px;
  z-index: 2;
  overflow: hidden;
  animation: all 0.5s ease;
  background-color: $charcoal; }
  #sidebar-wrapper h2 {
    color: $petal;
    font-size: 40px;
    line-height: 40px;
    margin: 4px;
    padding: 0px; }
  #sidebar-wrapper a {
    color: $cream;
    font-size: 24px;
    margin-left: 10px; }

.sidebar-links {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#sidebar-wrapper.open {
  width: 300px; }

#close-btn {
  margin-top: 10px;
  margin-left: 30px;
  align-self: flex-start;
  color: $cream;
  height: 30px;
  width: 30px;
  font-size: 30px; }
  #close-btn:hover {
    cursor: pointer;
    color: $fresh; }

#hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 48px;
  width: 48px;
  top: 20px;
  left: 30px;
  z-index: 1; }
  #hamburger img {
    height: 48px;
    width: 48px; }
  #hamburger :hover {
    background-color: $fresh;
    border-radius: 25px;
    cursor: pointer; }

.email-submit {
  font-size: 20px;
  padding-bottom: 50px; 
  input {
    display: block;
    margin: auto;
    margin-bottom: 3%;
  }
}

.email-submit.container {
  width: 50%;
}

/*hover over email submit button*/
.hover:hover {
  cursor: pointer;
  background-color: $fresh; }

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 48px;
  width: 48px;
  bottom: 20px;
  left: 30px;
  z-index: 1; }
  .back-to-top img {
    height: 48px;
    width: 48px; }
  .back-to-top :hover {
    cursor: pointer;
    background-color: $fresh;
    border-radius: 25px; }

.footer {
  text-align: center;
  clear: both; 
  font-size: 16px;
  background-color: $cream;
  padding-bottom: 2em;
  }

@media only screen and (min-width: 1020px) and (max-width: 1285px){
  /*for that ipad pro*/
  .background-image {
    padding-bottom: 30%; 
  }
  .portfolio_img {
    height: 17em;
    vertical-align: top;
  }
  #portfolio {
    text-align: center;
    padding-bottom: 35%;
  }
  .project_description {
    opacity: 0;
    font-size: 16em;
  }
  p.text-content {
    opacity: 1;
    background: none;
    border-radius: 0px;
    color: $charcoal;
    padding-top: 15%;
  } span {
    color: $fresh;
  }
  .hover {
  cursor: pointer;
  background-color: $fresh;
  }
}

@media only screen and (max-width: 1000px) {
  .left-col {
    background: none;
    text-align: center;
    height: 0%;
  }
  .right-col {
  text-align: center;
  }
  #about {
    height: 50em;
  }
  #skills h1:first-of-type {
    margin-top: 4%;
  }
  .skills {
    margin-top: auto;
  }
  
  #skills h1 {
      display: inline-block;
      padding: 1%;
    }

  .about {
    margin-top: 30%;
    width: 100%;
    h1 {
      display: none;
    }
  }

  .skills_container {
    text-align: center;
  }

  #portfolio {
    text-align: center;
    padding-bottom: 40%;
  }
  .portfolio_img {
    display: inline-block;
    width: 24%;
    height: 16em;
    vertical-align: top;
  }
  .background-image {
    padding-bottom: 30%; 
    padding-top: 5%;
  } 
  .skill {
    display: inline-block;
    width: 33%;
    vertical-align: top;
  }
  .project_description {
    opacity: 0;
    font-size: 16em;
  }
  p.text-content {
    opacity: 1;
    background: none;
    border-radius: 0px;
    color: $charcoal;
  } span {
    color: $fresh;
  }
  .hover {
  cursor: pointer;
  background-color: $fresh;
  }
}


/*for small screens*/










/*# sourceMappingURL=main.css.map */
